@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Great+Vibes&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    
}
html{
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  scroll-behavior: smooth;        
}

*{
  font-family: 'Inter', system-ui, -apple-system, sans-serif;  
}

.texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent; 
  }
.text-stoke-w {
    -webkit-text-stroke: 1px white;
    color: transparent; 
  }
.text-stoke-b {
    -webkit-text-stroke: 2px black;
    color: transparent; 
  }

  


